<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" preserve-order="true">
   <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="involve.me.tests.HomePageTests"/>
      <class name="involve.me.tests.LoginTests"/>
      <class name="involve.me.tests.ResetPasswordTests"/>
      <class name="involve.me.tests.ProjectsTests"/>
      <class name="involve.me.tests.EditorTests"/>
      <class name="involve.me.tests.TemplatesTests"/>
      <class name="involve.me.tests.CouponTests"/>
      <class name="involve.me.tests.End2EndTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
